//Colors
$color-primary: #e67e22;
$color-primary-light: #efab6e;
$color-primary-dark: #bf6516;

$color-secondary: #8dae9a;

$color-tertuary: #c0392b;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-grey-middle: #eaeaea;

//GRID
$grid-width: 114rem;

$margin-vertical: 8rem;
$margin-vertical-small: 6rem;

$magrin-horizontal: 6rem;

//FONT-SIZE
$default-font-size: 1.6rem;