.btn {

  &:link,
  &:visited {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: $color-white;
    font-weight: 400;
    background-color: rgba($color-primary-dark, 0.7);
    padding: 0.3rem;
    border: 1px solid $color-primary;
    border-radius: 500rem;
    transition: all 0.4s;
  }

  &:hover {
    background-color: rgba($color-white, 0.7);
    color: $color-black;
    border: 1px solid $color-primary;
    transform: translateY(-0.3rem);
    box-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.2);
  }
}